

.modal-body>.fighter-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.modal-body>.fighter-name:before {
  content: "Fighter Name: ";
  color: #76ff03;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;

}
.modal-body>.fighter-name {
    text-align: left;
    font-weight: bold;
}
.modal-body>.fighter-attack:before {
  content: "Skill -> attack \2694 : ";
    font-size: 24px;
    color: #76ff03;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;

}
.modal-body>.fighter-attack {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}
.modal-body>.fighter-defense:before {
  content: "Skill -> defense \26E8 : ";
  font-size: 24px;
  color: #76ff03;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;

}
.modal-body>.fighter-defense {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}
.modal-body>.fighter-health:before {
  content: "Health \2665 : ";
  font-size: 24px;
  color: #76ff03;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;

}
.modal-body>.fighter-health {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}
